/*------------------------------------------------------------------
Project:        CONCEPT - Minimal Portfolio Template
Version:        1.1
Last update:    21/03/2015
Author:         FLPDesign
URL:            http://francescolepere.com
-------------------------------------------------------------------*/


@media (min-width: 1200px){

}


/*Notebooks and Small Laptops*/
@media (min-width: 1025px){

}

/*iPad Landscape Mode and Large Tablets */
@media (max-width: 1024px){

}

/*Small Desktop and Very Small Notebook */
@media (max-width: 992px){

}

/*Medium Tablets */
@media (max-width: 900px){

    .navbar-nav > li > a {
        letter-spacing: 1px;
        padding-left: 10px;
        padding-right: 10px;
    }

}


/*iPad Portrait Mode, iPad Mini and Small Tablets */
@media (max-width: 768px){

    .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
        max-height: 100%;
    }

}

/*iPad Portrait Mode, iPad Mini and Small Tablets */
@media (max-width: 767px) {

    .navbar-default .navbar-collapse {
        margin-top: 10px;
        border-color: #eeeeee;
        background: #fcfcfc;
        text-align: center;
    }
  
    .slides-navigation {
        display: none;
    }
  
    .left-border {
        width: 15px;
    }

    .right-border {
        width: 15px;
    }
  
    .bottom-border {
        height: 25px;
    }
  
    .slides-pagination {
        bottom: 4px;
    } 
  
    #google-container {
        height: 300px;
    }
  
    #cd-zoom-in, #cd-zoom-out {
        margin-left: 50px;
    }
  
    #cd-zoom-in {
        margin-top: 50px;
    }

}

/*Medium Smart Phones v2*/
@media screen and (max-width: 640px){

}

@media screen and (max-width: 600px){

    .navbar-default {
        padding-left: 0px;
        padding-right: 0px;
    }

}

@media screen and (max-width: 600px) and (orientation : landscape){

}

@media screen and (max-width: 480px){

}

/*google nexus ish*/
@media screen and (max-width: 480px) {

}

/*Other Major Small Smart Phones*/
@media screen and (max-width: 360px){

}

/*iPhone Portrait Mode and Very Small Mobile Phones*/
@media screen and (max-width: 320px) {
  
    #slides .caption-wrapper {
        bottom: 20%;
        max-width: 280px;
    }

    #slides .slide-caption {
        padding: 10px 10px;
    }

    #slides .slide-caption h1 {
        font-size: 24px;
        letter-spacing: -1px;
    }
  
    #slides .slide-caption h6 {
        font-size: 11px;
    }
  
    #cd-google-map .address {
        display: none;
    }

}